.NF {
  height: 90vh;
  width: 100%;
  position: relative;
  background: #313133;
  background: -webkit-gradient(linear, left top, right top, color-stop(15%, #313133), color-stop(81%, #1d1d1f));
  background: linear-gradient(90deg, #313133 15%, #1d1d1f 81%);
}

.NF img {
  height: 90vh;
  width: 100%;
}

.NF .hero {
  height: 90vh;
}

.NF .hero .left {
  height: 100%;
  width: 80px;
  background: transparent;
  border-right: 4px solid black;
  z-index: 1;
  position: absolute;
}

.NF .hero .left h1 {
  height: 60vh;
  text-align: center;
  padding-top: 10%;
}

.NF .hero .left .icons {
  height: 20vh;
}

.NF .hero .left .icons .icon {
  font-size: 25px;
  margin: 30% 30%;
  display: block;
}

.NF .hero .centr {
  height: 65vh;
  width: 100%;
  padding: 5% 0 0 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.NF .hero .centr .center-left {
  width: 45%;
}

.NF .hero .centr .center-left h2 {
  color: #fff;
}

.NF .hero .centr .center-left .chiziq {
  height: 1px;
  width: 60%;
  background: #d2d60e;
  background: -webkit-gradient(linear, left top, right top, color-stop(73%, #d2d60e), color-stop(74%, #111111));
  background: linear-gradient(90deg, #d2d60e 73%, #111111 74%);
}

.NF .hero .centr .center-left .text {
  padding-top: 2%;
}

.NF .hero .centr .center-left .text p {
  width: 30%;
  padding-top: 1%;
  color: #666;
  line-height: 20px;
}

.NF .hero .centr .center-right {
  width: 50%;
}

.NF .hero .centr .center-right h1 {
  color: #fff;
  width: 50%;
  font-size: 50px;
}

.NF .hero .centr .center-right p {
  padding-top: 1%;
  width: 70%;
  font-size: 20px;
  line-height: 25px;
}

.NF .hero .past {
  height: 25vh;
  width: 94.6%;
  padding-left: 5%;
  position: absolute;
  right: 0.2%;
  z-index: 0;
  background-color: #222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.NF .hero .past .chap {
  width: 49%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3% 0;
}

.NF .hero .past .chap h1 {
  color: #fff;
}

.NF .hero .past .chap .bosh p {
  font-size: 20px;
  color: #666;
}

.NF .hero .past .chap .bosh h2 {
  color: #fff;
  font-size: 20px;
  line-height: 40px;
}

.NF .hero .past .chap .markaz {
  padding-left: 15%;
}

.NF .hero .past .chap .markaz p {
  font-size: 20px;
  color: #666;
}

.NF .hero .past .chap .markaz h2 {
  color: #fff;
  font-size: 20px;
  line-height: 40px;
}

.NF .hero .past .ong {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.NF .hero .past .ong img {
  height: 186px;
  width: 180px;
  -o-object-fit: cover;
     object-fit: cover;
}

.NF .hero .past .ong .text {
  padding: 3% 0;
  padding-left: 7%;
}

.NF .hero .past .ong .text h2 {
  padding: 2% 0;
  color: #fff;
}

.NF .hero .past .ong .text p {
  line-height: 30px;
  color: #666;
}

.NF .hero .past .ong .text h5 {
  padding-top: 10%;
  font-size: 20px;
  color: #F4E241;
}

@media screen and (max-width: 1400px) {
  .NF .hero .centr .center-left {
    width: 46%;
  }
  .NF .hero .centr .center-right h1 {
    font-size: 45px;
  }
  .NF .hero .past {
    width: 94.1%;
    padding-left: 4%;
  }
}

@media screen and (max-width: 1270px) {
  .NF .hero .centr {
    padding: 3% 0 0 15%;
  }
  .NF .hero .centr .center-left {
    width: 46%;
  }
  .NF .hero .centr .center-right h1 {
    width: 49%;
    font-size: 40px;
  }
  .NF .hero .past {
    width: 93.4%;
    padding-left: 3%;
  }
}

@media screen and (max-width: 1230px) {
  .NF .hero .past .ong .text p {
    line-height: 20px;
  }
  .NF .hero .past .ong .text h5 {
    position: absolute;
    bottom: 6%;
  }
}

@media screen and (max-width: 1150px) {
  .NF .hero .centr {
    padding: 3% 0 0 15%;
  }
  .NF .hero .centr .center-left {
    width: 47%;
  }
  .NF .hero .centr .center-right h1 {
    font-size: 35px;
  }
  .NF .hero .past {
    width: 92.8%;
    padding-left: 4%;
  }
}

@media screen and (max-width: 1060px) {
  .NF .hero .centr {
    padding: 5% 0 0 15%;
  }
  .NF .hero .past {
    width: 92.2%;
    padding-left: 4%;
  }
}

@media screen and (max-width: 970px) {
  .NF .hero .past {
    width: 91.5%;
    padding-left: 4%;
  }
}

@media screen and (max-width: 930px) {
  .NF .hero .centr .center-left {
    height: 20vh;
    width: 47%;
  }
  .NF .hero .centr .center-right {
    width: 50%;
  }
  .NF .hero .centr .center-right h1 {
    color: #fff;
    width: 70%;
    font-size: 30px;
  }
  .NF .hero .centr .center-right p {
    padding-top: 1%;
    width: 70%;
    font-size: 20px;
    line-height: 25px;
  }
  .NF .hero .past {
    height: 60vh;
    padding-left: 5%;
    position: absolute;
    bottom: 0;
    background-color: transparent;
  }
  .NF .hero .past .chap {
    display: block;
  }
  .NF .hero .past .chap .bosh {
    padding: 5% 0;
  }
  .NF .hero .past .chap .markaz {
    padding-left: 0;
  }
  .NF .hero .past .ong {
    width: 50%;
  }
  .NF .hero .past .ong img {
    height: 400px;
    width: 370px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 10px;
    position: absolute;
    right: 6%;
    bottom: 1%;
  }
  .NF .hero .past .ong .text {
    padding: 0;
    position: absolute;
    left: 5.5%;
    bottom: 21%;
  }
  .NF .hero .past .ong .text p {
    line-height: 30px;
  }
  .NF .hero .past .ong .text h5 {
    position: absolute;
    bottom: -30%;
  }
}

@media screen and (max-width: 910px) {
  .NF .hero .past .ong img {
    height: 400px;
    width: 370px;
    right: 4%;
    bottom: 1%;
  }
}

@media screen and (max-width: 870px) {
  .NF .hero .past .ong img {
    height: 380px;
    width: 350px;
    right: 5%;
    bottom: 4%;
  }
  .NF .hero .past .ong .text {
    left: 5.5%;
    bottom: 15%;
  }
  .NF .hero .past .ong .text p {
    width: 90%;
    line-height: 25px;
  }
}

@media screen and (max-width: 840px) {
  .NF .hero .past .ong img {
    height: 380px;
    width: 350px;
    right: 3%;
    bottom: 3%;
  }
}

@media screen and (max-width: 810px) {
  .NF .hero .past .ong img {
    height: 380px;
    width: 350px;
    right: 2%;
    bottom: 3%;
  }
}

@media screen and (max-width: 780px) {
  .NF .hero .past .ong img {
    height: 370px;
    width: 340px;
    right: 1%;
    bottom: 3%;
  }
}

@media screen and (max-width: 780px) {
  .NF .hero .past .ong img {
    height: 370px;
    width: 340px;
    right: 1%;
    bottom: 4%;
  }
}

@media screen and (max-width: 760px) {
  .NF .hero .past .ong img {
    height: 360px;
    width: 325px;
    right: 2.5%;
    bottom: 5%;
  }
}

@media screen and (max-width: 740px) {
  .NF .hero .past .ong img {
    height: 350px;
    width: 320px;
    right: 2.5%;
    bottom: 5%;
  }
}

@media screen and (max-width: 730px) {
  .NF .hero .past .ong img {
    height: 350px;
    width: 318px;
    right: 2%;
    bottom: 5%;
  }
}

@media screen and (max-width: 710px) {
  .NF .hero .left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 7vh;
    width: 200px;
    border-right: 0;
  }
  .NF .hero .left h1 {
    padding-top: 5%;
  }
  .NF .hero .left .icons {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .NF .hero .left .icons .icon {
    font-size: 25px;
    margin: 10%;
    display: inline;
  }
  .NF .hero .centr {
    padding: 10% 0 0 2%;
  }
  .NF .hero .centr .center-left {
    height: 20vh;
    width: 40%;
  }
  .NF .hero .centr .center-left .text p {
    padding-top: 2%;
    width: 50%;
  }
  .NF .hero .centr .center-right {
    text-align: center;
    position: absolute;
    right: 0;
    bottom: 5%;
  }
  .NF .hero .past {
    height: 60vh;
    padding-left: 5%;
    position: absolute;
    bottom: 0;
    left: 1%;
    padding: 0;
  }
  .NF .hero .past .chap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 30vh;
    width: 100%;
  }
  .NF .hero .past .chap h1 {
    display: none;
  }
  .NF .hero .past .chap .bosh {
    padding: 0;
  }
  .NF .hero .past .chap .bosh p {
    width: 90%;
  }
  .NF .hero .past .chap .markaz {
    position: absolute;
    left: 0;
    top: 27%;
    padding-left: 0;
  }
  .NF .hero .past .chap .markaz p {
    width: 90%;
  }
  .NF .hero .past .ong img {
    height: 300px;
    width: 300px;
    right: -6%;
    top: -46%;
  }
  .NF .hero .past .ong .text {
    position: absolute;
    left: 1px;
    bottom: 20%;
  }
  .NF .hero .past .ong .text p {
    width: 70%;
  }
  .NF .hero .past .ong .text h5 {
    position: absolute;
    bottom: -30%;
  }
}
/*# sourceMappingURL=NF.css.map */